<mat-toolbar>

  <div class="content" 
        fxLayout="row" 
        fxLayout.xs="column" 
        fxLayoutAlign="center center" 
        fxFlexFill >
        
      <div fxFlex="60" fxFlex.xs="55">
          <span>Company Logo</span>
      </div>
      <div fxFlex="40" fxLayoutAlign="end end">
          
            <div class="button-row">
              <button mat-icon-button class="menu-notifications" (click)="notyActions('wishList')">
                  <mat-icon>favorite_border</mat-icon>            
                  <span class="menu-notification-count">5</span>
                  <mat-icon>keyboard_arrow_down</mat-icon>
              </button>
              
              <button mat-icon-button class="menu-notifications" (click)="notyActions('myCart')">
                  <mat-icon>add_shopping_cart</mat-icon>
                  <span class="menu-notification-count">5</span>
              </button>

              <button mat-icon-button class="menu-notifications">
                  <mat-icon>perm_identity</mat-icon>
              </button>
            </div>
          
          <mat-form-field>
            <mat-select [(value)]="selected">
              <mat-option selected>Customer Name</mat-option>
              <mat-option value="option1">Option 1</mat-option>
              <mat-option value="option2">Option 2</mat-option>
              <mat-option value="option3">Option 3</mat-option>
            </mat-select>
          </mat-form-field>
  
      </div>
  </div>
  
 
    
  </mat-toolbar>

  <app-product-list></app-product-list>
  <app-wish-list *ngIf="isWishActive" (close)="isWishActive = false"></app-wish-list>
  <app-my-cart *ngIf="isMyCartActive" (close)="isMyCartActive = false"></app-my-cart>
  <!-- <router-outlet></router-outlet> -->